<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div > div {
        margin-left: 10px;
      }
      div {
        /* display: inline-block; */
      }
    </style>
  </head>
  <body>
    <span
      style="
        position: absolute; /* border-width: 0px 1px 1px 0px; */ /* inset: auto -1px -1px auto; */ /* border-color: rgb(18, 219, 198); */ /* border-style: solid; */
        padding: 5px;
        bottom: 20px;
        right: 20px;
        width: 0; /* display: block; */
        height: 0;
        border-bottom: 4px solid skyblue !important;
        border-left: 4px solid transparent !important;
        border-right: 4px solid skyblue !important;
      "
    ></span>

    <div>sss</div>
    <div id="root"></div>

    <div id="1">
      1
      <div id="1-1">
        1-1
        <div id="1-1-1">1-1-1</div>
        <div id="1-1-2">
          1-1-2
          <div id="1-1-2-1">1-1-2-1</div>
          <div id="1-1-2-2">1-1-2-2</div>
        </div>
      </div>
      <div id="1-2">
        1-2
        <div id="1-2-1">1-2-1</div>
      </div>
    </div>

    <script></script>
  </body>
</html>
